<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
>

<h:head>
    <title>Creation de compte</title>
    <h:outputStylesheet library="css" name="createPage.css"/>
    <!--    <f:loadBundle basename="com.efficom.bundle" var="msg"/>-->
</h:head>

<h:body>
    <h:form>
        <fieldset>
            <legend>Inscription</legend>

            <h:outputLabel for="firstName">Prenom <span class="requis">*</span></h:outputLabel>
            <h:inputText id="firstName" value="#{managedUserBean.user.firstName}" required="true" size="20" maxlength="20"
                         requiredMessage="Veuillez saisir un prenom d'utilisateur"/>
            <h:message id="firstNameMessage" for="firstName" errorClass="erreur"/>
            <br/>

            <h:outputLabel for="name">Nom <span class="requis">*</span></h:outputLabel>
            <h:inputText id="name" value="#{managedUserBean.user.name}" required="true" size="20" maxlength="20"
                         requiredMessage="Veuillez saisir un nom d'utilisateur"/>
            <h:message id="nameMessage" for="name" errorClass="erreur"/>
            <br/>

            <h:outputLabel for="email">Email <span class="requis">*</span></h:outputLabel>
            <h:inputText id="email" value="#{managedUserBean.user.email}" required="true" size="20" maxlength="60"
                         requiredMessage="Veuillez saisir une adresse email"/>
            <h:message id="emailMessage" for="email" errorClass="erreur"/>
            <br/>

            <h:outputLabel for="password">Mot de passe <span class="requis">*</span></h:outputLabel>
            <h:inputSecret id="password" value="#{managedUserBean.user.password}" required="true" size="20" maxlength="20"
                           requiredMessage="Veuillez saisir un mot de passe"/>
            <h:message id="motDePasseMessage" for="password" errorClass="erreur"/>
            <br/>

            <h:messages globalOnly="true" infoClass="info"/>

            <h:commandButton value="Inscription" action="#{managedUserBean.create}" styleClass="sansLabel"/>
            <br/>
        </fieldset>
    </h:form>
</h:body>
</html>
