<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:of="http://omnifaces.org/functions">

<h:head>
  <title>Accueil</title>
  <h:outputStylesheet library="css" name="index.css"/>
</h:head>

<h:body>
  <p:outputPanel style="display:block">
    <h3 class="center">#{sampleBean.message}</h3>
  </p:outputPanel>


  <h:form id="form">
      <h:commandButton value="Connexion" action="loginPage"/>
      <h:commandButton value="Créer un compte" action="createAccountPage"/>
      <h:commandButton value="test switcher" action="themeSwitcher"/>
  </h:form>



</h:body>
</html>
