<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Accueil</title>
    <h:outputStylesheet library="css" name="primeflex.min.css"/>
</h:head>

<h5>Block</h5>
<p:inputText styleClass="p-mb-2 p-d-block"/>
<p:inputText styleClass="p-d-block"/>

</html>
